<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterPage</title>
  <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

    <div class="register-container">
        <div class="left-panel">
            <div class="brand-box">
                <div class="logo">✓</div>
                <h1>ToDoPro</h1>
                <p>Plan smarter. Execute faster. Track everything.</p>
            </div>
        </div>

        <div class="right-panel">
            <div class="form-card">
                <h1>Create Your Account</h1>
				<p class="pro-tagline">
				    ✨ Start organizing your tasks like a pro and boost your productivity journey.
				</p>

                <form th:action="@{/regForm}" th:object="${user}" method="post">

                    <div th:if="${sucessMsg}" class="success-msg">
                        <h3 th:text="${sucessMsg}"></h3>
                    </div>

                    <div th:if="${errMsg}" class="error-msg">
                        <h3 th:text="${errMsg}"></h3>
                    </div>

                    <input type="text" th:field="*{name}" placeholder="Enter Name">
                    <input type="email" th:field="*{email}" placeholder="Enter Email">
                    <input type="password" th:field="*{password}" placeholder="Enter Password">

                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>

</body>
</html>